{% extends 'pm/list_base.html' %}

{% block list_title %}Drafts : {{ hits }} message{{ hits|pluralize }}{% endblock %}

{% block table_row %}
<tr>
<th><input type="checkbox" name="checkbox" value="{{ object.id }}"></th>
<th><img src="/m/im/draft.gif" width="16" height="16" alt="Draft" /></th>
<td>{{ object.recipient_list }}</td>
<td><a href="{{ object.get_absolute_url }}">{% if object.subject %}{{ object.subject }}{% else %}<em>no subject</em>{% endif %}</a></td>
<td>{{ object.sent_at_since }}</td>
</tr>
{% endblock %}