<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>{% block title %}{% endblock %}</title>
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.3.1/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
</head>
<body id="bd-{% block app %}{% endblock %}">
<div id="doc4" class="yui-t7">
   <div id="hd">
	 <div id="menu">
		<ul>
		<li id="m-mes"><a href="/pm/inbox/"><span>Messages</span></a></li>
		</ul>
	 </div>
	 <div class="tab">{% block tabs %}{% endblock %}</div>
   </div>
   <div id="bd">

	{% block notification %}
	{% if notices %}
	<div id="notice" class="yui-g">
	<ul>
	{% for notice in notices %}{{ notice.as_html|safe }}{% endfor %}
	</ul>
	</div>
	{% endif %}
	{% endblock notification %}

    {% block bd %}
	<div class="yui-g">
	{% block bd_content %}
	<!-- YOUR DATA GOES HERE -->
	{% endblock bd_content %}
	</div>
	{% endblock bd %}
   </div>
   <div id="ft">{% block ft %}{% endblock ft %}</div>
</div>
</body>
</html>
